@import "../../../styles/variables";

.home_client {
  height: 100vh;
  overflow: hidden;
  min-height: 100vh;
  background: url("/image/Rectangle 5.png") no-repeat ;
  background-size: cover;

  .title {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
  }

  form {
    overflow: hidden;
    margin-top: 10%;
    border: 1px solid rgba(217, 217, 217, 1);
    background: #fff;
    border-radius: 4px;

    .form-box {
      padding: 0 20px 20px;
    }

    .img {
      display: flex;
      justify-content: center;
      padding: 20px 0;

      img {
        width: 50%;
      }
    }
  }
}