.wait {
  min-height: 100vh;
  background-color: #FFDEE9;
  background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);

  .head__mb {
    display: flex;
    justify-content: center;
    background: rgba(14, 0, 53, 1);
    align-items: center;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 10px;

    .text {
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
    }

    .time {
      font-size: 18px;
      font-weight: 600;
      padding: 0 10px;
      border-radius: 4px;
      background: rgba(226, 0, 0, 1);
      margin-left: 10px;
      min-width: 70px;
    }
  }

  .left.list__user {
    background: rgba(228, 255, 240, 1);
    padding: 20px;
    border-radius: 20px;
    height: 100%;

    .user__box {

      .user__avatar {
        display: flex;
        justify-content: center;

        img {
          width: 50%;
        }
      }

      .user__name {
        width: 100%;
        max-width: 100%;
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden;
        text-wrap: nowrap;
      }
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 100%;

    .head {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .text {
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
      }

      .time {
        background: rgba(226, 0, 0, 1);
        font-size: 24px;
        font-weight: 700;
        padding: 0 10px;
        border-radius: 10px;
        color: #fff;
      }
    }

    .thele {
      border-radius: 15px;
      padding: 20px;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
      text-align: center;
      margin-top: 20px;
      background: rgba(255, 236, 228, 1);

      .title {
        font-size: 18px;
        font-weight: bold;
        color: #333;
        margin-bottom: 15px;
        background: linear-gradient(90deg, #ff8a00, #e52e71);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .content {
        text-align: left;

        span {
          display: block;
          font-size: 16px;
          color: #333;
          line-height: 1.6;
          text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
        }
      }

      h3 {
        font-size: 1.5rem;
        color: #007bff;
        margin-top: 20px;
      }
    }
  }
}