.rating__all {
  min-height: 100vh;
  background-color: #FFDEE9;
  background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
  width: 100%;
  overflow-x: hidden;

  .head__mb {
    background: rgba(14, 0, 53, 1);
    padding-top: 30px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;

    h2 {
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      line-height: 26px;
      background: rgba(255, 111, 0, 1);
      padding: 10px;
      border-radius: 4px;
    }
  }

  .head {
    .btn-quay {
      position: fixed;
      top: 15%;
      right: 2%;
    }

    .chucmung {
      h2 {
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        line-height: 26px;
        background: rgba(255, 111, 0, 1);
        padding: 10px;
        border-radius: 4px;
        width: fit-content;
      }

    }

    .cau {
      font-size: 24px;
      font-weight: 600;
      line-height: 30px;
      color: #fff;
      padding: 10px;
      background: #6EB435;
      border-radius: 3px;
      width: fit-content;
    }
  }

  .text__content {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    span {
      display: block;
      background: rgba(255, 235, 235, 1);
      width: fit-content;
      color: rgba(226, 0, 0, 1);
      font-size: 16px;
      font-weight: bold;
      line-height: 20px;
      text-transform: uppercase;
      padding: 10px;
      border-radius: 4px;
    }
  }

  .title {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    h2 {
      text-align: center;
      font-size: 32px;
      font-weight: 600;
      line-height: 40px;
      color: #fff;
      background: rgba(255, 111, 0, 1);
      padding: 10px;
      border-radius: 4px;
      width: fit-content;
    }
  }

  .body {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;

    .head {
      color: rgba(226, 0, 0, 1);
      font-size: 32px;
      font-weight: 600;
      line-height: 40px;
      text-align: center;
      text-transform: uppercase;
      background: rgba(255, 235, 235, 1);
      padding: 10px;
      width: fit-content;
      border-radius: 5px;
      margin-top: 50px;
    }

    .content {
      margin-top: 30px;

      .item {
        display: flex;
        flex-direction: column;
        min-height: 200px;
        height: 200px;
        justify-content: end;

        span {
          font-size: 20px;
          font-weight: 600;
          line-height: 26px;
          color: rgba(14, 0, 53, 1);
          padding: 10px 0;
          text-align: center;
          display: flex;
          justify-content: center;

          img {
            width: 50%;
            display: block;
          }
        }

        div {
          background: rgba(3, 154, 248, 1);
          font-size: 64px;
          font-weight: 600;
          text-align: center;
          color: rgba(113, 201, 255, 1);
          display: flex;
          align-items: center;
          justify-content: center;

          span {
            display: block;
            width: 100%;
            font-size: 14px;
            font-weight: 400;
            color: rgba(14, 0, 53, 1);
          }
        }

        div.number-2 {
          height: 50%;
          font-size: 48px;
          min-height: 50%;
        }

        div.number-1 {
          font-size: 64px;
          height: 100%;
          min-height: 100%;
          background: rgba(255, 204, 0, 1);
          color: rgba(255, 229, 125, 1);
        }

        div.number-3 {
          height: 25%;
          font-size: 36px;
          color: rgba(0, 234, 66, 1);
          background: rgba(128, 255, 168, 1);
          min-height: 25%;
        }
      }
    }

    .food {
      .table-custom {
        border-collapse: collapse;
        width: 100%;
        border-radius: 10px 10px 0 0;
        overflow: hidden;

        tr.first {
          border-radius: 10px;
          overflow: hidden;

          td {
            background-color: rgba(255, 204, 0, 1); /* Gold for the first user */
            border: none;
          }
        }

        tr.second {
          td {
            background-color: rgba(3, 154, 248, 1); /* Silver for the second user */
            border: none;
          }
        }

        tr.third {
          td {
            background-color: rgba(128, 255, 168, 1); /* Bronze for the third user */
            border: none;
          }
        }
      }

      .table-custom tr {
        border-bottom: 1px solid #e5e5e5; /* Light grey border */
      }

      .table-custom td {
        padding: 10px 15px;
        vertical-align: middle;
        font-size: 20px;
      }

      .table-custom td:first-child {
        font-weight: bold;
        color: rgba(14, 0, 53, 1); /* Dark purple color */
        width: 50px;
      }

      .table-custom td:last-child {
        color: rgba(14, 0, 53, 1);
        font-weight: 400;
        font-size: 20px;
      }
    }
  }
}