.rating {
  .head {
    .left {
      div:first-child {
        font-size: 24px;
        font-weight: 600;
        line-height: 30px;
        color: #fff;
        padding: 10px;
        background: rgba(255, 111, 0, 1);
        border-radius: 3px;
        width: fit-content;
      }

      div:last-child {
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
        color: rgba(0, 0, 0, 1);
        margin-left: 10px;

        p {
          margin-bottom: 0;
        }
      }
    }
  }

  .answer {
    margin-top: 50px;
    display: flex;
    align-items: center;

    .title {
      font-size: 24px;
      font-weight: 600;
      line-height: 30px;
      display: block;
      color: rgba(14, 0, 53, 1);
    }

    .content {
      display: flex;
      background: rgba(228, 255, 240, 1);
      border: 1px solid rgba(0, 234, 66, 1);
      padding: 20px;
      border-radius: 10px;
      align-items: center;
      margin-left: 50px;

      span {
        display: block;
      }

      span:first-child {
        font-size: 32px;
        font-weight: 600;
        line-height: 40px;
        color: rgba(20, 174, 92, 1);

      }

      span:last-child {
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
        color: rgba(20, 174, 92, 1);
        margin-left: 10px;

        p {
          margin-bottom: 0;
        }
      }
    }
  }

  .body {
    display: flex;
    align-items: center;
    flex-direction: column;

    .head {
      color: rgba(226, 0, 0, 1);
      font-size: 32px;
      font-weight: 600;
      line-height: 40px;
      text-align: center;
      text-transform: uppercase;
      background: rgba(255, 235, 235, 1);
      padding: 10px;
      width: fit-content;
      border-radius: 5px;
      margin-top: 50px;
    }

    .content {
      margin-top: 30px;

      .item {
        display: flex;
        flex-direction: column;
        min-height: 200px;
        height: 200px;
        justify-content: end;

        span {
          font-size: 20px;
          font-weight: 600;
          line-height: 26px;
          color: rgba(14, 0, 53, 1);
          padding: 10px 0;
          text-align: center;
          display: block;
        }

        div {
          background: rgba(3, 154, 248, 1);
          font-size: 64px;
          font-weight: 600;
          text-align: center;
          color: rgba(113, 201, 255, 1);
          display: flex;
          align-items: center;
          justify-content: center;
        }

        div.number-2 {
          height: 50%;
          font-size: 48px;
        }

        div.number-1 {
          font-size: 64px;
          height: 100%;
          background: rgba(255, 204, 0, 1);
          color: rgba(255, 229, 125, 1);
        }

        div.number-3 {
          height: 25%;
          font-size: 36px;
          color: rgba(0, 234, 66, 1);
          background: rgba(128, 255, 168, 1);
        }
      }
    }

    .food {
      .table-custom {
        border-collapse: collapse;
        width: 100%;
      }

      .table-custom tr {
        border-bottom: 1px solid #e5e5e5; /* Light grey border */
      }

      .table-custom td {
        padding: 10px 15px;
        vertical-align: middle;
        font-size: 20px;
      }

      .table-custom td:first-child {
        font-weight: bold;
        color: rgba(14, 0, 53, 1); /* Dark purple color */
        width: 50px;
      }

      .table-custom td:last-child {
        color: rgba(14, 0, 53, 1);
        font-weight: 400;
        font-size: 20px;
      }
    }
  }
}